<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>校园风采（中心校区）</string>
		<key>imageUrl </key>
		<string>http://zjc.xzit.edu.cn:8080/UpdateFile/20150626030111.jpg</string>
		<key>width</key>
		<string>3916</string>
		<key>height</key>
		<string>2244</string>
		<key>smallPicUrl</key>
		<string>school0</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>校园风采（中心校区）</string>
		<key>imageUrl </key>
		<string>http://zjc.xzit.edu.cn:8080/UpdateFile/20150626030030.JPG</string>
		<key>width</key>
		<string>3916</string>
		<key>height</key>
		<string>2244</string>
		<key>smallPicUrl</key>
		<string>school1</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>校园风采（中心校区）</string>
		<key>imageUrl </key>
		<string>http://zjc.xzit.edu.cn:8080/UpdateFile/20150626025952.JPG</string>
		<key>width</key>
		<string>3916</string>
		<key>height</key>
		<string>2244</string>
		<key>smallPicUrl</key>
		<string>school2</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>校园风采（中心校区）</string>
		<key>imageUrl </key>
		<string>http://zjc.xzit.edu.cn:8080/UpdateFile/20150619014444.jpg</string>
		<key>width</key>
		<string>3916</string>
		<key>height</key>
		<string>2244</string>
		<key>smallPicUrl</key>
		<string>school3</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>校园风采（城南校区）</string>
		<key>imageUrl </key>
		<string>http://zjc.xzit.edu.cn:8080/UpdateFile/20150619014430.jpg</string>
		<key>width</key>
		<string>3916</string>
		<key>height</key>
		<string>2244</string>
		<key>smallPicUrl</key>
		<string>school4</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>校园风采（城南校区）</string>
		<key>imageUrl </key>
		<string>http://zjc.xzit.edu.cn:8080/UpdateFile/20150619014352.jpg</string>
		<key>width</key>
		<string>3916</string>
		<key>height</key>
		<string>2244</string>
		<key>smallPicUrl</key>
		<string>school5</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>校园风采（中心校区）</string>
		<key>imageUrl </key>
		<string>http://zjc.xzit.edu.cn:8080/UpdateFile/20150619014332.jpg</string>
		<key>width</key>
		<string>3916</string>
		<key>height</key>
		<string>2244</string>
		<key>smallPicUrl</key>
		<string>school5</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>校园风采（中心校区）</string>
		<key>imageUrl </key>
		<string>http://zjc.xzit.edu.cn:8080/UpdateFile/20150626030111.jpg</string>
		<key>width</key>
		<string>3916</string>
		<key>height</key>
		<string>2244</string>
		<key>smallPicUrl</key>
		<string>school6</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>校园风采（中心校区）</string>
		<key>imageUrl </key>
		<string>http://zjc.xzit.edu.cn:8080/UpdateFile/20150626030111.jpg</string>
		<key>width</key>
		<string>3916</string>
		<key>height</key>
		<string>2244</string>
		<key>smallPicUrl</key>
		<string>school7</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>校园风采（中心校区）</string>
		<key>imageUrl </key>
		<string>http://zjc.xzit.edu.cn:8080/UpdateFile/20150626030111.jpg</string>
		<key>width</key>
		<string>3916</string>
		<key>height</key>
		<string>2244</string>
		<key>smallPicUrl</key>
		<string>school8</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>校园风采（中心校区）</string>
		<key>imageUrl </key>
		<string>http://zjc.xzit.edu.cn:8080/UpdateFile/20150626030111.jpg</string>
		<key>width</key>
		<string>3916</string>
		<key>height</key>
		<string>2244</string>
		<key>smallPicUrl</key>
		<string>school9</string>
	</dict>
</array>
</plist>
